@media only screen and (min-width: 1020px) {
.CollectionGallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 500px;
  height: 360px;
  gap: 30px;
} 
}
@media only screen and (max-width: 1019px) {
.CollectionGallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  width: 100%;
  height: auto;
}
}
