@media only screen and (min-width: 1020px) {
.CvInfo {
  width: 705px;
  min-height: 450px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-family: var(--family-primary);
  font-size: var(--size-text-desktop);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}
@media only screen and (max-width: 1019px) {
.CvInfo {
  width: calc(100% - 40px);
  min-height: 300px;
  padding: 20px;
  font-size: var(--size-text-mobile);
   background-color: var(--color-primary);
  color: var(--color-secondary);
  font-family: var(--family-primary);
  font-size: var(--size-text-desktop);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
}