.ArtworksSection {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  width: 1000px;
}

.ArtworksSectionGallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
