@media only screen and (min-width: 1020px) {
.ArtworksSection {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  width: 1000px;
}

.ArtworksSectionGallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
}
@media only screen and (max-width: 1019px) {
.ArtworksSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 90%;
}

.ArtworksSectionGallery {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}
}
