@media only screen and (min-width: 1020px) {
.ArtCarousel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  width: 1000px;
}

.ArtCarouselButtonPrev {
  position: absolute;
  left: 0;
  transform: rotate(180deg);
  cursor: pointer;
}

.ArtCarouselButtonNext {
  position: absolute;
  right: 0;
  cursor: pointer;
}
}
@media only screen and (max-width: 1019px) {
.ArtCarousel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
}

.ArtCarouselButtonPrev {
  position: absolute;
  left: 0;
  bottom: -65px;
  transform: rotate(180deg);
  cursor: pointer;
}

.ArtCarouselButtonNext {
  position: absolute;
  right: 0;
  bottom: -65px;
  cursor: pointer;
}
}
