@media only screen and (min-width: 1020px) {
.CollectionContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.CollectionContentHeader {
  position: fixed;
  top: 5px;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;

  z-index: 10;

  transition: transform 0.3s ease;
}

.CollectionContentHeader.visible {
  transform: translateY(0);
}

.CollectionContentHeader.hidden {
  transform: translateY(-120%);
}

.CollectionContentMain {
    margin-bottom: 100px;
}
}
@media only screen and (max-width: 1019px) {
.CollectionContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 100px;

  }

.CollectionContentHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;

  z-index: 10;

  transition: transform 0.3s ease;
}

.CollectionContentHeader.visible {
  transform: translateY(0);
}

.CollectionContentHeader.hidden {
  transform: translateY(-120%);
}

  .CollectionContentMain {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }
}