@media only screen and (min-width: 1020px) {
.Header {
  margin-top: 45px;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.HeaderNavigation {
  display: flex;
  gap: 40px;
}

.HeaderHomeButtonMobile{
  display: none;
}
}
@media only screen and (max-width: 1019px) {
.Header {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.HeaderHomeButton {
  display: none;
}

.HeaderHomeButtonMobile {
  width: 30px;
  height: 30px;
  background-color: var(--color-accent);
  border: none;
  cursor: pointer;
}

.HeaderNavigation {
  display: flex;
  gap: 15px;
}
}