.Contact {
  width: 280px;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  color: var(--color-secondary);
  font-family: var(--family-primary);
  font-size: var(--size-H3-desktop);
  text-decoration: none;
}

.ContactIcon {
  width: 45px;
  height: 45px;
}
